# Buyer
*.buys animals for rarity common {$25} uncommon {$45} rare {$75} epic {$95} legendary {$165}

# Player {Hunter}
*Kills animals and selles the to the Buyer
*Upgrades boats/Weapons/bags
*Buy houses/cabind with the money from selling the animal(s) 
*buys a camo suit to hide with the forest
*Walk speed {5, 5} 
*cooks squirls, alligators, and fish eats them to survive

# Builder
*Builds houses/cabins and sell to the player
*house worth {$400} Cabin worth {$200}

# Seller
*Gives the player Bows, bigger bags, camo suits
* (prices) Bows{free, $100, $150, $200, $500, $750, $1,00} bags{free, $50, $100, $150, $175, $550, $1,000} Camo suit {$700}
